html,
body {
   height:100%;
   font-family: 'Lato', sans-serif;
   position:relative;
   overflow:auto;
   z-index:1000;
}

.custom-wrapper {
   min-height:100%;
   position:relative;
}

.pad-container {
  padding-top:80px;
  padding-bottom:80px; /*height of the footer plus a little */
}

/* START: HEADER */
.navbar-inverse {
  background-color:#3B5998;
  border-color: #bdbcae;
  opacity: 0.95;
  font-family: 'Lato', sans-serif;	
  font-size:16px;
  z-index:999;
}

.slideIn {
    top:-100px;
}

.navbar {
	transition:all 1s ease-in-out;
}

.navbar-inverse .navbar-nav > .active > a:not(#tab2):not(#tab5),
.navbar-inverse .navbar-nav > .active > a:not(#tab2):not(#tab5):hover,
.navbar-inverse .navbar-nav > .active > a:not(#tab2):not(#tab5):focus {
	color: #ffffff;
	background-color: #3B5998; 
	/*text-decoration: underline;*/
	cursor:pointer;
}
.navbar-inverse .navbar-toggle {
	border-color:#3B5998;
	background-color: #3B5998;	
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #3B5998;
}
.menu {
	border-color:#3B5998;
	background-color: #3B5998;	
}
.menuHover {
	background-color: #3B5998;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0px 0px 7px #ffffff;
}
.menuActive{
	background-color: #3B5998;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0px 0px 7px #3D3D3D;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #ffffff; /* line separator nav from drop-down*/
}
#tab2, #tab5{
	color:#ffffff;
	background-color: #3B5998; 
	height:55px; 
}
.navbar-inverse .navbar-nav > li > a:not(#tab2):not(#tab5) {
	color: #ffffff /* text color default */;
	transition-duration: 200ms;
	cursor:pointer;
	height:55px; 
}
.navbar-inverse .navbar-nav > li > a:not(#tab2):not(#tab5):hover ,
.navbar-inverse .navbar-nav > li > a:not(#tab2):not(#tab5):focus  {
	color: #bdbcae; /* flash */
	transition-duration: 200ms;
	cursor:pointer;
}
.navbar-brand{
	height:55px;
	font-size:21px;
}
.navbar-inverse .navbar-brand {
	color: #ffffff;
}
#music{
	float:right;
}
@media screen and (max-width:767px){
	#music{
		float:left;
	}
}

span {
    color:#ffffff;  
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse
.navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #3B5998;
	color: #ffffff;
}

@media (min-width:768px) { 

	.navbar > .container{
	    text-align: center;
	}

	.navbar-header,.navbar .navbar-nav,.navbar .navbar-nav > li {
	    float: none;
	    display: inline-block;
	}
	.collapse.navbar-collapse {
	    float: none;
	    display: inline-block!important;
	    width: auto;
	    clear: none;
		vertical-align: top;
	}
}
/* END: HEADER */
  
/* START: FOOTER */
.static-footer {
   position:absolute;
   bottom:0;
   left:0;
   width:100%;
   height:50px;   /* height of the footer */
   background:#3B5998;  
   display:none;
   font-family: 'Lato', sans-serif;	
}

.static-footer .text-muted { /* text on left of footer */
  color: #ffffff; 
  margin-top: 17px;
}

.static-footer .text-primary{ 
  margin-top: -35px;
}


.static-footer .fa-soundcloud, .static-footer .fa-stack-overflow, .static-footer .fa-github-alt, .static-footer .fa-linkedin {
     color: #ffffff;/* (inherit = grey)*/
}

.static-footer .fa-linkedin,.static-footer .fa-stack-overflow,.static-footer .fa-soundcloud {
	margin:0 0 0 10px;
}
/* END: FOOTER */

/* START: HOME */
a.writer {
	font-family: 'Permanent Marker', cursive;
	text-decoration:none;
	opacity:0;
	color: #000000;
	cursor: default;
	font-size: 150%;
}

a.writer.active{
	 color:#3B5998;	 
}

#content{
	font-family: 'Adamina', serif;
}

#name{
	opacity:0;
}

.skip_intro{
	opacity:0;
	text-decoration:none;
	color: #000000;
	cursor: default;
	font-size: 150%;
}

.skip_intro.active{
	color:#3B5998;	
	text-decoration:none;
}
/* END: HOME */

.aboutimg{
	float:right;padding-left:20px;
}

.aboutimg #img{
	width:500px;height:auto;float:right;clear:right;padding-bottom:5px;
}
.aboutimg #photocap{
	display:block;text-decoration: none;color: #bdbcae;font-style:italic;opacity:0;
}

#projectheading{
	color:#000000;
}
#blogimg {
	width:500px;height:auto;float:right;clear:right;margin:0 0 30px 30px;
}
#websiteimg {
	width:500px;height:auto;float:left;clear:left;margin:0 30px 30px 0;
}

#drinkcup{
	height:auto;width:500px;float:right;clear:right;margin:0 0 30px 30px;
}

#storyimg {
	cursor:zoom-in;height:300px;width:250px;opacity:0.5;float:left;margin:0 30px 30px 0;
}

#dave{
	float:right; width:500px; height:auto; margin:0 0 30px 0;opacity:0;
}

#content-text a{
	color:black;
	text-decoration:none;
	-webkit-transition:color 200ms ease;
	-moz-transition:color 200ms ease;
	-o-transition:color 200ms ease;
	transition: color 200ms ease;
}
#content-text a:hover,#content-text a:focus,#content-text a:active{
	color:#f2777a;
}
#content-text{
	font-size:14px;
	font-weight:500px;
	line-height:2.0;
}

#content-text .fa-stack-overflow,#content-text .fa-github-square,#content-text .fa-linkedin-square {
	margin:0 0 0 15px;
}
@media screen and (max-width:767px){
	#blogimg,#dave{
		margin:0 0 30px 0;
		float:none;padding-left:0;
	}
	#content{
		padding-left:15px;padding-right:15px;
	}	
	.aboutimg #photocap {
		padding-bottom:20px;
	}
	.aboutimg #img {
		float:none;
	}
	.aboutimg{float:none;margin: 0 0 0 0; padding-left:0;}
}